Package: com.kulinichx.preferenceorganizer2rh
Name: PreferenceOrganizer 2 (RootHide)
Architecture: iphoneos-arm
Description: Organises your Settings app into configurable categories. Unofficial RootHide/rootless port of PreferenceOrganizer 2 for iOS 15-16.
Homepage: https://github.com/kulinichx/PreferenceOrganizer2-RH
Author: Karen/あけみ <karen@akemi.ai>
Maintainer: kulinichx
Section: Tweaks
Depends: mobilesubstrate | ellekit, preferenceloader, firmware (>= 15.0)
Conflicts: net.angelxwind.preferenceorganizer2, com.phillipt.noappsettings, jp.r-plus.cloaky, me.qusic.preferenceorganizer, com.sull.preferenceorganizer, com.sull.preferenceorganizer2, com.sull.preferenceorganizer7
Replaces: net.angelxwind.preferenceorganizer2
Version: 4.1.1-rh1
